.ArticlesPage {
  color: #9a1a0e;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .list {
    flex: 1;
  }

}

.ArticlesPageRedesigned {
  height: calc(100vh - var(--layout-ofset-m) * 2);
  width:  100%;
}
