:root {
  --font-family-main: Consolas, "Times New Roman", Serif;
  --font-family-text-redesigned: 'Nunito Sans', sans-serif;
  --font-family-header-redesigned: 'Roboto', sans-serif;

  // screens
  --mobile-s: 320px;
  --mobile-m: 375px;
  --mobile-l: 414px;

  --tablet-s: 768px;
  --tablet-m: 834px;
  --tablet-l: 1024px;

  --desktop-s: 1280px;

  // s
  --font-size-s: 12px;
  --font-line-s: 20px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  // m
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  // l
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  // xl
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  /* Sizes */
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;

  /* Colors */
  --overlay-color: rgba(0 0 0 / 60%);
  --red-light: #f00;
  --red-dark: #ce0505;

  // z - index
  --modal-z-index: 1000;
  --overlay-z-index: 100;

  // redesigned
  --font-weight-semibold: 700;
  --font-weight-bold: 900;

  // s
  --font-size-s-redesigned: 16px;
  --font-line-s-redesigned: 21.82px;
  --font-s-redesigned: var(--font-size-s-redesigned) / var(--font-line-s-redesigned) var(--font-family-text-redesigned);

  // m
  --font-size-m-redesigned: 24px;
  --font-line-m-redesigned: 28.13px;
  --font-m-redesigned: var(--font-size-m-redesigned) / var(--font-line-m-redesigned) var(--font-family-text-redesigned);

  // l
  --font-size-l-redesigned: 32px;
  --font-line-l-redesigned: 37.5px;
  --font-weight-l-redesigned: 900;
  --font-l-redesigned: var(--font-size-l-redesigned) / var(--font-line-l-redesigned) var(--font-family-header-redesigned);

  // xl
  --font-xl-redesigned: var(--font-size-xl) / var(--font-line-xl) var(--font-family-header-redesigned);

  --layout-ofset-m: 32px;
  --layout-gutter: calc(var(--layout-ofset-m) / 2);

  @media (max-width: var(--tablet-l)) {
    --layout-ofset-m: 20px;
  }
}

